.add-patient-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #f5f5f5;
}

.add-patient-page h1 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
    color: #333;
}

.add-patient-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 30rem;
    padding: 2rem;
    border-radius: 0.5rem;
    background-color: #fff;
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.1);
}

.add-patient-page input {
    padding: 1rem;
    border-radius: 0.5rem;
    border: 1px solid #ccc;
    color: #333;
}

.add-patient-page input::placeholder {
    color: #bbb;
}

.add-patient-page button {
    background-color: #f8f8f8;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: all 0.2s ease-in-out;
    text-align: center;
    font-size: 1.2rem;
}

.add-patient-page button:hover {
    transform: translateY(-2px);
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.692);
}